[user]
	name = Peter Mrekaj
	email = mrekucci@gmail.com
[push]
	default = simple
[credential]
	helper = osxkeychain
[alias]
    ll = log --graph --abbrev-commit --date=relative --pretty=format:'%C(magenta)%h%Creset -%C(yellow)%d%Creset %s %C(green)(%cr)%Creset %C(bold blue)<%an>%Creset'
[core]
	autocrlf = input
	safecrlf = true
	editor = nvim
	quotepath = off
	excludesfile = ~/.gitignore
[pull]
	ff = only
[color]
	interactive = auto
	showbranch = auto
	branch = auto
	status = auto
	diff = auto
	grep = auto
	ui = auto
[commit]
	template = /Users/mrekucci/.gitcommittmp
[rerere]
	enabled = true
	autoupdate = true
