[user]
	name = Peter Mrekaj
	email = mrekucci@gmail.com
[push]
	default = simple
[credential]
	helper = osxkeychain
[alias]
	ll = log --oneline --graph --decorate
[core]
	autocrlf = input
	editor = nvim
	quotepath = off
[pull]
	ff = only
[color]
	interactive = auto
	showbranch = auto
	branch = auto
	status = auto
	diff = auto
	grep = auto
	ui = auto
