[user]
	name = Peter Mrekaj
	email = mrekucci@gmail.com
[push]
	default = simple
[credential]
	helper = osxkeychain
[alias]
	ll = log --oneline --graph --decorate
[gitreview]
	remote = origin
[core]
	autocrlf = input
	editor = nvim
	quotepath = off
